<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><strong>Kanban Board</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse">
      <div class="container-fluid">
        <div class="row" style="min-width: 100%">
          <div class="col-md-5">
            <div class="input-group" *ngIf="util.isShowProjectDropDown()">
              <div class="input-group-prepend">
                <span class="input-group-text">Project</span>
              </div>
              <select class="form-control" id="projectName" [(ngModel)]="util.currProject"
              (change)="changeProjectDropDpwn(util.currProject)">
                <option *ngFor="let project of util.getProjectDropDownList()"
                value="{{project.id}}">
                  {{project.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3 boardPageList">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" 
                [ngClass]="{'active': util.currPage == 'projectList' || util.currPage == 'project'}" 
                [routerLink]="['/projectList']">Project List</button>
              <button type="button" class="btn btn-primary"
                [ngClass]="{'active': util.currPage == 'task-dashboard'}"
                [routerLink]="['/dashboard']">Dashboard</button>
            </div>
          </div>
          <div class="col-md-4">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/projectList']"
                [ngClass]="{'active': util.currPage == 'projectList' || 
                    util.currPage == 'project' || 
                    util.currPage == 'task-dashboard' }" >
                  Board
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/help.html">Help</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</nav>
