<div class="row">
  <div class="col-md-4 px-2">
    <div class="input-group mt-2 mb-3">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-outline-primary dropdown-toggle border border-primary" data-toggle="dropdown">
          SearchBy: {{currSearchByStr}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" [ngClass]="{'active':currSearchBy == sb.value}" 
          href="javascript:void(0)"
          *ngFor="let sb of searchByMap | keyvalue"
          (click)="currSearchBy = sb.value; currSearchByStr = sb.key"
          >{{sb.key}}</a>
        </div>
      </div>
      <input type="text" class="form-control border border-secondary" placeholder="Search project..." 
      name="searchString"
      [(ngModel)]="searchString">
    </div>
  </div>
  <div class="col-md-3 px-2">
    <div class="input-group mt-2 mb-3">
      <div class="input-group-prepend" style="min-width: 60%;">
        <button type="button" class="btn btn-outline-secondary dropdown-toggle border border-secondary" data-toggle="dropdown"
        style="min-width: 100%;">
          SortBy: {{currSortByStr}}
        </button>
        <div class="dropdown-menu" style="min-width: 60%;">
          <a class="dropdown-item" [ngClass]="{'active':currSortBy == sb.value}" 
          href="javascript:void(0)"
          *ngFor="let sb of sortByMap | keyvalue"
          (click)="currSortBy = sb.value; currSortByStr = sb.key"
          >{{sb.key}}</a>
        </div>
      </div>
      <div class="input-group-append">
        <button class="btn btn-light border border-secondary" *ngIf="currSortOrder == 'asc'"
        title="Asc"
        (click)="currSortOrder = 'desc'">
          <fa-icon [icon]="icons.faSortAmountDownAlt"></fa-icon>
        </button>
        <button class="btn btn-light border border-secondary" *ngIf="currSortOrder == 'desc'"
        title="Desc"
        (click)="currSortOrder = 'asc'">
          <fa-icon [icon]="icons.faSortAmountDown"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-3 px-2">
    <div class="input-group mt-2 mb-3" *ngIf="currStage">
      <button type="button" class="btn btn-outline-info dropdown-toggle border border-info" data-toggle="dropdown"
      style="min-width: 100%;">
        Category: {{currStage.name ? currStage.name : "All Category"}}
      </button>
      <div class="dropdown-menu" style="min-width: 100%;">
        <a class="dropdown-item" 
        href="javascript:void(0)"
        (click)="setCurrStage(allStageFilter)">All Category</a>
        <a class="dropdown-item" 
        href="javascript:void(0)"
        *ngFor="let stage of allStages"
        (click)="setCurrStage(stage)">{{stage.name}}</a>
      </div>
    </div>
  </div>
  <div class="col-md-2 pt-2 pl-0 text-right">
    <button type="button" class="btn btn-success"
      (click)="startNewTask()">
      <fa-icon [icon]="icons.faPlus"></fa-icon> New Task
    </button>
  </div>
</div>
<div class="row" *ngIf="showTasks">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="alert alert-info" *ngIf="showTasks && ((!!allTasks) ? allTasks : [] 
    | taskSearch: 'category.name': (!!currStage) ? currStage.name : ' ' 
    | taskSearch: currSearchBy: searchString 
    | taskSort: currSortBy: currSortOrder).length == 0">
      No Task Available with matching criteria..!!
    </div>
    <div class="alert alert-warning" *ngIf="showTasks && !!allStages && allStages.length == 0">
      No Task Category avialbale for the current project. Please add a category to create task for the same
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row d-flex justify-content-around" *ngIf="showTasks">
  <div class="col-md-4 px-2" *ngFor="let task of allTasks 
          | taskSearch: 'category.name': currStage.name 
          | taskSearch: currSearchBy: searchString 
          | taskSort: currSortBy: currSortOrder">
    <!-- | taskSearch: currSearchBy: searchString | taskSort: currSortBy: currSortOrder -->
    <div class="card mb-3 pb-1" [ngClass]="{'dummyBox box no-pointer': currTask.id == task.id && isSavingTask}">
      <div class="card-body px-2 py-1">
        <div class="row mx-0">
          <div class="col-md-11 pl-0 mt-1" title="Task Name">
            <span class="task-name" style="min-width: 100%;">
              <strong>{{task.name}}</strong>
            </span>
          </div>
          <div class="col-md-1">
            <a href="javascript:void(0);" class="badge badge-outline-success mt-1 float-right"
              title="View"
              (click)="showTaskDetail(task)"
              style="color: green;"
              >
              <fa-icon [icon]="icons.faEye"></fa-icon>
            </a>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-md-5 pl-0 mt-1" title="Team">
            <span class="badge badge-pill badge-primary text-left" 
            style="min-width: 100%; max-width: 100%; width: 100%; line-height: 1.5em;">
            {{task.team.name}}
          </span>
          </div>
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-6 pl-0 mt-1" title="Start Date Time">
            <span class="badge badge-pill badge-success" 
            style="min-width: 100%; max-width: 100%; width: 100%; line-height: 1.5em;">
              {{task[task.category.id].startTime ? task[task.category.id].startTime : "-NA-"}}
            </span>
          </div>
          <div class="col-md-1 pl-0 mt-1">
            <a href="javascript:void(0);" class="badge badge-outline-success mt-1 float-right"
              title="Edit"
              (click)="startEditTask(task)"
              >
              <fa-icon [icon]="icons.faEdit"></fa-icon>
            </a>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-md-5 pl-0 mt-1" title="Category">
            <span class="badge badge-pill badge-info text-left" 
            style="min-width: 100%; max-width: 100%; width: 100%; line-height: 1.5em;">
              {{task.category.name}}
            </span>
          </div>
          <!-- <div class="col-md-1"></div> -->
          <!-- <div class="col-md-6 pl-0 mt-1" title="End Date Time">
            <span class="badge badge-pill badge-danger" 
            style="min-width: 100%; max-width: 100%; width: 100%; line-height: 1.5em;">
            {{task[task.category.id].endTime ? task[task.category.id].endTime : "-NA-"}}
            </span>
          </div> -->
          <div class="col-md-6 pl-0 mt-1"></div>
          <div class="col-md-1 pl-0 mt-1">
            <a href="javascript:void(0);" class="badge badge-outline-info mt-1 float-right"
              title="Move"
              style="color: blue;"
              (click)="startMoveTask(task)"
              >
              <fa-icon [icon]="icons.faExchangeAlt"></fa-icon>
            </a>
          </div>
        </div>
        <div class="row mx-0">
          <div class="col-md-2 pl-0 mt-1" title="Priority">
            <span class="badge badge-pill badge-secondary" 
            style="min-width: 100%; line-height: 1.5em;">
              P{{task.priority}}
            </span>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-5 pl-0 mt-1" title="Owner">
            <span class="badge badge-pill badge-warning text-left ownerId" 
              style="min-width: 100%; max-width: 100%; width: 100%; line-height: 1.5em;">
              {{task.owner.userId}} 
              {{(task.owner.lastName || task.owner.firstName) ? " - " : ""}}
              {{task.owner.lastName ? task.owner.lastName + ", " : ""}}
              {{task.owner.firstName ? task.owner.firstName : ""}}
            </span>
          </div>
          <div class="col-md-1 pl-0 mt-1">
            <a href="javascript:void(0);" class="badge badge-outline-danger mt-1 float-right"
              title="Delete"
              style="color: red;"
              (click)="deleteTask(task)"
              >
              <fa-icon [icon]="icons.faTrashAlt"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal shadow -->
<div class="modalShadow" *ngIf="modal.isShow" [style.display]="modal.isShow ? 'block' : 'none'"></div>

<!-- The Modal -->
<div class="modal" name="msgModal" *ngIf="modal.isShow && modal.name == 'msgModal'"
  [style.display]="modal.isShow && modal.name == 'msgModal' ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{modal.header}}</h4>
        <!-- <button type="button" class="close" 
        data-dismiss="modal"
        (click)="hideModal(modal)">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body" #modalBodyDiv>
        <div *ngIf="modal.isShow">
          <div class="alert alert-success" *ngIf="modal.body.status == 'success'">
            <strong>Success!</strong> {{modal.body.data}}
          </div>
          <div class="alert alert-danger" *ngIf="modal.body.status == 'fail'">
            <strong>Oopsss!!!</strong> {{modal.body.data}}
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer p-0">
        <button type="button" class="btn btn-danger" 
        data-dismiss="modal"
        (click)="hideModal()">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- View Task Details Modal -->
<div class="modal" name="viewTask" *ngIf="modal.isShow && modal.name == 'viewTask'"
  [style.display]="modal.isShow && modal.name == 'viewTask' ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Task Details</h4>
        <!-- <button type="button" class="close" 
        data-dismiss="modal"
        (click)="hideModal(modal)">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="name"><strong>Name:</strong></label>
          <span class="form-control">{{currTask.name}}</span>
        </div>
        <div class="form-group">
          <label for="startDate"><strong>Description:</strong></label>
          <div class="form-control" style="min-height: 6em;">
            <small>{{currTask.description}}</small>
          </div>
        </div>
        <div class="form-group">
          <label for="priority"><strong>Priority:</strong></label>
          <span class="form-control">{{currTask.priority}}</span>
        </div>
        <div class="form-group">
          <label for="endDate"><strong>Owner:</strong></label>
          <span class="form-control">
            {{currTask.owner.userId}} 
            {{(currTask.owner.lastName || currTask.owner.firstName) ? " - " : ""}}
            {{currTask.owner.lastName ? currTask.owner.lastName + ", " : ""}}
            {{currTask.owner.firstName ? currTask.owner.firstName : ""}}
          </span>
        </div>
        <div class="form-group">
          <label for="description"><strong>Team:</strong></label>
          <div class="form-control">{{currTask.team.name}}</div>
        </div>
        <div class="form-group">
          <label for="description"><strong>Category:</strong></label>
          <div class="form-control">{{currTask.category.name}}</div>
        </div>
        <div class="card pb-1">
          <div class="card-header p-1 pl-1">
            <strong>Task Category History</strong>
          </div>
          <div class="card-body px-2 py-1">
            <div class="row" *ngFor="let tsc of currTask.taskStageChanges | taskSort: 'startTime' : 'desc' ; let i = index">
              <div class="col-md-12">
                <div class="form-group mb-0">
                  <div class="d-flex justify-content-around" *ngIf="i != 0">
                    <fa-icon [icon]="icons.faAngleUp"></fa-icon>
                  </div>
                  <div class="form-control" name="changeHistory">
                    <small class="d-flex justify-content-around">
                      <strong>{{tsc.stage.name}}</strong>
                      <span><strong>Start: </strong>{{tsc.startTime ? tsc.startTime : "-NA-"}}</span> 
                      <span><strong>End: </strong>{{tsc.endTime ? tsc.endTime : "-NA-"}}</span>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer p-0">
        <button type="button" class="btn btn-danger" 
        data-dismiss="modal"
        (click)="hideModal()">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit Task Details Modal -->
<div class="modal" name="editTask" *ngIf="modal.isShow && modal.name == 'editTask'"
  [style.display]="modal.isShow && modal.name == 'editTask' ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="!isNewTask">Edit Task {{currTask.name}}</h4>
        <h4 class="modal-title" *ngIf="isNewTask">New Task {{currTask.name}}</h4>
        <!-- <button type="button" class="close" 
        data-dismiss="modal"
        (click)="hideModal(modal)">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="name"><strong>Name:</strong></label>
          <input type="text" class="form-control" id="name" name="name"
            [(ngModel)]="currTask.name" />
        </div>
        <div class="form-group">
          <label for="startDate"><strong>Description:</strong></label>
          <textarea class="form-control" style="min-height: 6em;" rows="6"
            [(ngModel)]="currTask.description">
            {{currTask.description}}
          </textarea>
        </div>
        <div class="form-group">
          <label for="priority"><strong>Priority:</strong></label>
          <input type="number" class="form-control" id="priority" name="priority"
            min="0" max="100"
            (keypress)="isNumber($event)" 
            (keyup)="checkPriority(currTask)"
            [(ngModel)]="currTask.priority" />
        </div>
        <div class="form-group">
          <div class="input-group mt-2 mb-3" *ngIf="!isNewTask">
            <button type="button" class="btn btn-outline-info dropdown-toggle border border-info" data-toggle="dropdown"
            style="min-width: 100%;">
              Owner: {{currTask.owner.userId}} 
                {{(currTask.owner.lastName || currTask.owner.firstName) ? " - " : ""}}
                {{currTask.owner.lastName ? currTask.owner.lastName + ", " : ""}}
                {{currTask.owner.firstName ? currTask.owner.firstName : ""}}
            </button>
            <div class="dropdown-menu" style="min-width: 100%;">
              <a class="dropdown-item" *ngFor="let user of allUsers" 
              [ngClass]="{'active': currTask.owner.id == user.id}"
              [style.display]="currTask.owner.id != user.id ? 'block' : 'none'"
              href="javascript:void(0)"
              (click)="currTask.owner = user">
                {{user.userId}} 
                {{(user.lastName || user.firstName) ? " - " : ""}}
                {{user.lastName ? user.lastName + ", " : ""}}
                {{user.firstName ? user.firstName : ""}}
            </a>
            </div>
          </div>
          <div class="input-group mt-2 mb-3" *ngIf="isNewTask">
            <button type="button" class="btn btn-outline-info border border-info"
            style="min-width: 100%;">
              Owner: {{currTask.owner.userId}} 
                {{(currTask.owner.lastName || currTask.owner.firstName) ? " - " : ""}}
                {{currTask.owner.lastName ? currTask.owner.lastName + ", " : ""}}
                {{currTask.owner.firstName ? currTask.owner.firstName : ""}}
            </button>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mt-2 mb-3">
            <button type="button" class="btn btn-outline-info dropdown-toggle border border-info" data-toggle="dropdown"
            style="min-width: 100%;">
              Team: {{currTask.team.name}}
            </button>
            <div class="dropdown-menu" style="min-width: 100%;">
              <a class="dropdown-item" *ngFor="let team of allTeams" 
              [ngClass]="{'active': currTask.team.id == team.id}"
              [style.display]="currTask.team.id != team.id ? 'block' : 'none'"
              href="javascript:void(0)"
              (click)="currTask.team = team">{{team.name}}</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group mt-2 mb-3">
            <button type="button" class="btn btn-outline-info dropdown-toggle border border-info" data-toggle="dropdown"
            style="min-width: 100%;">
              Category: {{currTask.category.name}}
            </button>
            <div class="dropdown-menu" style="min-width: 100%;">
              <a class="dropdown-item" *ngFor="let stage of allStages" 
              [ngClass]="{'active': currTask.category.id == stage.id}"
              [style.display]="currTask.category.id != stage.id ? 'block' : 'none'"
              href="javascript:void(0)"
              (click)="currTask.category = stage">{{stage.name}}</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer p-0">
        <button type="button" class="btn btn-outline-danger" 
        data-dismiss="modal"
        (click)="saveEditTask()">Save</button>
        <button type="button" class="btn btn-outline-success" 
        data-dismiss="modal"
        (click)="cancelEditTask()">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Move Task Details Modal -->
<div class="modal" name="moveTask" *ngIf="modal.isShow && modal.name == 'moveTask'"
  [style.display]="modal.isShow && modal.name == 'moveTask' ? 'block' : 'none'">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Move Task {{currTask.name}}</h4>
        <!-- <button type="button" class="close" 
        data-dismiss="modal"
        (click)="hideModal(modal)">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <label for="from"><strong>From:</strong></label>
          <span class="form-control">{{modal.body.name}}</span>
        </div>
        <div class="form-group">
          <label for="to"><strong>To:</strong></label>
          <div class="input-group mt-2 mb-3">
            <button type="button" class="btn btn-outline-info dropdown-toggle border border-info" data-toggle="dropdown"
            style="min-width: 100%;">
              Category: {{currTask.category.name}}
            </button>
            <div class="dropdown-menu" style="min-width: 100%;">
              <a class="dropdown-item" *ngFor="let stage of allStages" 
              [ngClass]="{'active': currTask.category.id == stage.id}"
              [style.display]="currTask.category.id != stage.id ? 'block' : 'none'"
              href="javascript:void(0)"
              (click)="currTask.category = stage">{{stage.name}}</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer p-0">
        <button type="button" class="btn btn-outline-danger" 
        data-dismiss="modal"
        *ngIf="currTask.category.id != modal.body.id"
        (click)="saveEditTask()">Save</button>
        <button type="button" class="btn btn-outline-success" 
        data-dismiss="modal"
        (click)="cancelEditTask()">Close</button>
      </div>
    </div>
  </div>
</div>